#header {
	width: 100%;
}

#header h1 {
	margin: 0;
	float: left;
	font-size: 100%;
}

#header ul {
	text-align: right;
}

#header li {
	display: inline-block;
}

#map {
	height: 600px;
	width: 100%;
}
