{% extends "layout.html" %}

{% block nav %}
<ul>
	<li><a href="{{ url_for('add_form') }}">add</a></li>
	<li><a href="{{ url_for('remove_form') }}">remove</a></li>
</ul>
{% endblock %}

{% block content %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<div id="map"></div>
<script>
	var map = L.map('map').setView([0.0, 0.0], 2);
	L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'Map data &copy; openstreetmap.org', maxZoom: 18}).addTo(map);
	
	{% for keks in kekse %}
		var marker = L.marker([{{ keks.latitude }},  {{ keks.longitude }}]).addTo(map);
		marker.bindPopup("<b>{{ keks.title }}</b><br/>by <i>{{ keks.creator }}</i><br/>{{ keks.description }}");
	{% endfor %}
	
	marker.openPopup()
</script>

{% endblock %}

